- @courses.in_groups_of(3, false).each do |group|
  .tile.is-ancestor
    - group.each do |course|
      .tile.is-parent.is-4
        .tile.is-child.card.course-card
          .card-image
            %a{ data: { reflex: 'click->CourseReflex#open_modal', id: course.id } }
              %span.tag.is-medium{class: course_status_class(course.status)}
                = course.status
              = image_tag "courses/#{course.image}"
          .card-content
            %a{ data: { reflex: 'click->CourseReflex#open_modal', id: course.id } }
              %h2.title= course.title
            %h3.subtitle.has-text-grey= course.tutor

            .is-pulled-bottom
              %p
                %b Tier:
                = course.subscription.tier
              %p
                %b Date(s):
                = display_course_dates(course)

- if @courses.count.zero?
  .section
    = render 'shared/no_results'
