.section.has-background-light
  .container
    .columns.box
      .column
        %span.tag.is-medium.is-pulled-right{class: course_status_class(@course.status)}
          = @course.status
        %h1.title
          = @course.title
        %p.subtitle
          = @course.tutor
        %p
          = @course.description
        %hr
        %p
          %b Date(s):
          = display_course_dates(@course)
        %br

        = link_to 'Back', courses_path, class: 'button is-link'

      .column.is-two-fifths
        = image_tag "courses/#{@course.image}"

