= form_for [:admin, @user] do |f|
  .field
    = f.label :name, class: 'label'
    = f.text_field :name, class: 'input'
  .field
    = f.label :username, class: 'label'
    = f.text_field :username, class: 'input'
    = field_errors(@user, :username)
  .field
    = f.label :email, class: 'label'
    = f.text_field :email, class: 'input'
    = field_errors(@user, :email)
  .field
    = f.label :subscription, class: 'label'
    .select
      = f.collection_select :subscription_id, Subscription.all, :id, :tier
  .field
    = f.label :admin, class: 'label'
    = f.check_box :admin
  .actions.buttons
    = f.submit 'Save', class: 'button is-success'
    = link_to 'Back', admin_users_path, class: 'button'

