.level.title-bar
  .level-left
    .level-item
      %h1.title.is-4 Listing users

= render 'filters'

%table.table.is-striped.is-fullwidth.is-hoverable
  %thead
    %tr
      %th Name
      %th Username
      %th Email
      %th Tier
      %th Admin
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.username
        %td= user.email
        %td= user.subscription.tier
        %td= user.admin ? 'Yes' : 'No'
        %td
          .buttons.is-pulled-right
            = link_to edit_admin_user_path(user), class: 'button is-small' do
              %span.icon.has-text-link
                %i.fa.fa-lg.fa-edit
              %span Edit
            = link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' do
              %span.icon.has-text-danger
                %i.fa.fa-lg.fa-trash
              %span Delete

- if @users.count.zero?
  = render 'shared/no_results'
