= form_for [:admin, @subscription] do |f|
  .field
    = f.label :tier, class: 'label'
    = f.text_field :tier, class: 'input', data: { reflex: 'input->SubscriptionReflex#validate' }
    = field_errors(@subscription, :tier)
  .field
    = f.label :price, class: 'label'
    = f.text_field :price, class: 'input', data: { reflex: 'input->SubscriptionReflex#validate' }
    = field_errors(@subscription, :price)
  .actions.buttons
    = f.submit 'Save', class: 'button is-success'
    = link_to 'Back', admin_subscriptions_path, class: 'button'
