.level.title-bar
  .level-left
    .level-item
      %h1.title.is-4 Listing subscriptions

%table.table.is-striped.is-fullwidth.is-hoverable
  %thead
    %tr
      %th Tier
      %th Price
      %th

  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.tier
        %td= subscription.price
        %td
          .buttons.is-pulled-right
            = link_to edit_admin_subscription_path(subscription), class: 'button is-small' do
              %span.icon.has-text-link
                %i.fa.fa-lg.fa-edit
              %span Edit
            = link_to admin_subscription_path(subscription), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' do
              %span.icon.has-text-danger
                %i.fa.fa-lg.fa-trash
              %span Delete

- if @subscriptions.count.zero?
  = render 'shared/no_results'