.filter-bar.has-background-link-light
  = search_form_for [:admin, @q], local:true do |f|
    .columns
      .column.is-narrow
        .field
          .control
            = f.text_field :title_or_description_or_tutor_cont, class: 'input', placeholder: 'Search'
      .column.is-narrow
        .field
          .control
            .select
              = f.select :subscription_tier_eq, Subscription.all.map(&:tier), { include_blank: 'Tier: all' }
      .column.is-narrow
        .field
          .control
            .select
              = f.select :status_eq, Course::STATUSES.map{ |status| [status.capitalize, status] }, { include_blank: 'Status: all' }
      .column.is-narrow
        .field
          .control
            .select
              = f.select :public_eq, [['Yes', true],['No', false]], include_blank: 'Public: all'
      .column.is-narrow
        .field
          .control.checkbox
            Hide ended?
            = f.check_box :not_ended, {}
      .column
        .buttons.is-pulled-right
          = f.submit 'Search', class: 'button is-success'
          %a.button{ href: request.path } Clear
