.filter-bar.has-background-link-light
  = search_form_for [:admin, @q] do |f|
    .columns
      .column.is-narrow
        .field
          .control
            = f.text_field :title_or_description_or_tutor_cont,
              class: 'input',
              placeholder: 'Search',
              data: { reflex: 'input' }
      .column.is-narrow
        .field
          .control
            .select
              = f.select :subscription_tier_eq, Subscription.all.map(&:tier), { include_blank: 'Tier: all' },
                data: { reflex: 'change' }
      .column.is-narrow
        .field
          .control
            .select
              = f.select :status_eq, Course::STATUSES.map{ |status| [status.capitalize, status] }, { include_blank: 'Status: all' },
                data: { reflex: 'change' }
      .column.is-narrow
        .field
          .control
            .select
              = f.select :public_eq, [['Yes', true],['No', false]], { include_blank: 'Public: all' },
                data: { reflex: 'change' }
      .column.is-narrow
        .field
          .control.checkbox
            Hide ended?
            = f.check_box :not_ended, data: { reflex: 'change' }
      .column
        .buttons.is-pulled-right
          %a.button{ data: { reflex: 'click->SearchReflex#clear' } } Clear
