= form_for [:admin, @course] do |f|
  .field
    = f.label :title, class: 'label'
    = f.text_field :title, class: 'input', data: { reflex: 'input->CourseReflex#validate' }
    = field_errors(@course, :title)
  .field
    = f.label :tutor, class: 'label'
    = f.text_field :tutor, class: 'input', data: { reflex: 'input->CourseReflex#validate' }
    = field_errors(@course, :tutor)
  .field
    = f.label :description, class: 'label'
    = f.text_area :description, class: 'textarea', data: { reflex: 'input->CourseReflex#validate' }
    = field_errors(@course, :description)
  .field
    = f.label :starts, class: 'label'
    = f.date_select :starts
  .field
    = f.label :ends, class: 'label'
    = f.date_select :ends
  .field
    = f.label :status, class: 'label'
    .select
      = f.select :status, Course::STATUSES
  .field
    = f.label :public, class: 'label'
    = f.check_box :public
  .field
    = f.label :subscription, class: 'label'
    .select
      = f.collection_select :subscription_id, Subscription.all, :id, :tier
  .actions.buttons
    = f.submit 'Save', class: 'button is-success'
    = link_to 'Back', admin_courses_path, class: 'button'

