%nav.navbar
  .container
    .navbar-brand
      .navbar-item
        %a.title.is-primary.is-4{ href: root_path }
          CÖRS

    .navbar-menu
      .navbar-start
        %a.navbar-item{ href: courses_path }
          Courses
        %a.navbar-item{ href: subscriptions_path }
          Subscriptions

      .navbar-end
        .navbar-item
          .buttons
            - if user_signed_in?
              .navbar-item
                #notifications
                  = render partial: "shared/notifications", locals: { notifications: @latest_notifications, status: @notifications_status }
            - if user_signed_in?
              = link_to "Log out", destroy_user_session_path, method: :delete, class: 'button is-outlined is-danger'
              - if current_user.admin
                = link_to "Admin", admin_root_url, class: 'button is-outlined is-info'
            - else
              = link_to "Sign up", new_user_registration_path, class: 'button is-outlined is-success'
              = link_to "Login", new_user_session_path, class: 'button is-outlined is-info'
